# การทวนสอบและการตรวจรับ {#verification}

> [!OPEN] ยังไม่ได้เขียนบทนี้

{{status-matrix}}
